<div class="my-2">
  <textarea nz-input  placeholder="Enter Your Data ..." [(ngModel)]="data" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
</div>
<div class="flex justify-evenly p-2">
  <button nz-button nzType="primary" (click)="getData()" [disabled]="data.length == 0">Submit</button>
  <button nz-button nzType="primary" (click)="dowloadData()" *ngIf="dataToDisplay.length > 0 && nestedTableData.length == 0">Download</button>
</div>





<form [formGroup]="loginDataForm" *ngIf="dataToDisplay.length > 0">
    <div class="flex p-2">
        <label class="w-1/6">CsrfToken</label>
        <textarea class="w-5/6" nz-input  placeholder="Enter Your Csrf Token ..." formControlName="csrfToken" [nzAutosize]="{ minRows: 1, maxRows: 5 }"></textarea>

        
    </div>
    <div class="flex p-2">
        <label class="w-1/6" >Session Id</label>
        <textarea class="w-5/6" nz-input  placeholder="Enter Your Session Id ..." formControlName="sessionId" [nzAutosize]="{ minRows: 1, maxRows: 5 }"></textarea>

        
    </div>
    <div class="flex justify-center py-2">
      <button class="" nz-button nzType="primary" (click)="processData()" [disabled]="!(loginDataForm.get('csrfToken')?.value && loginDataForm.get('sessionId')?.value)">Submit Token Data</button>
    </div>

</form>

<div class="flex justify-center my-4" *ngIf="loader">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<h2 *ngIf="nestedTableData.length > 0" class="flex justify-center text-3xl my-2">Actionable Table Information</h2>

<nz-table #nestedTable [nzData]="nestedTableData" *ngIf="nestedTableData.length > 0" >
  <thead>
    <tr>
      <th></th>
      <th>Company Name</th>
      <th>Dividend Type</th>
      <th>Dividend Percentage</th>
      <th>Announcement Date</th>
      <th>Record Date</th>
      <th>Ex-Dividend Date</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td>
          <!-- <input nz-input placeholder="Company Name" [(ngModel)]="data.Company_Name" type="text" (ngModelChange)="UpdateTable(data)" /> -->
          {{data.Company_Name}}
        </td>
        <td>{{data.dividend_type}}</td>
        <td>{{data.dividend_percentage}}</td>
        <td>{{data.announcement_Date}}</td>
        <td>{{data.record_Date}}</td>
        <td>{{data.ex_dividend_date}}</td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="data.relatedData" nzSize="middle" [nzShowPagination]="false">
          <thead>
            <tr>
              <th></th>
              <th>Id</th>
              <th>Name</th>
              <th>Url</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let innerTableData of innerTable.data">
              <td [nzChecked]="innerTableData.checked" (nzCheckedChange)="onItemChecked(innerTableData ,data, $event)"></td>
              <td>{{ innerTableData.id }}</td>
              <td>{{ innerTableData.name }}</td>
              <td>{{ innerTableData.url }}</td>
            </tr>
          </tbody>
        </nz-table>
      </tr>
    </ng-template>
  </tbody>
</nz-table>


<h2 *ngIf="dataToDisplay.length > 0" class="flex justify-center text-3xl my-2">Dividend Information</h2>

<nz-table #nestedTable [nzData]="dataToDisplay" *ngIf="dataToDisplay.length > 0" >
  <thead>
    <tr>
      <th></th>
      <th>Company Name</th>
      <th>Dividend Type</th>
      <th>Dividend Percentage</th>
      <th>Announcement Date</th>
      <th>Record Date</th>
      <th>Ex-Dividend Date</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td>
          <!-- <input nz-input placeholder="Company Name" [(ngModel)]="data.Company_Name" type="text" (ngModelChange)="UpdateTable(data)" /> -->
          {{data.Company_Name}}
        </td>
        <td>{{data.dividend_type}}</td>
        <td>{{data.dividend_percentage}}</td>
        <td>{{data.announcement_Date}}</td>
        <td>{{data.record_Date}}</td>
        <td>{{data.ex_dividend_date}}</td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="data.relatedData" nzSize="middle" [nzShowPagination]="false">
          <thead>
            <tr>
]              <th>Id</th>
              <th>Name</th>
              <th>Url</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let innerTableData of innerTable.data">
              <td>{{ innerTableData.id }}</td>
              <td>{{ innerTableData.name }}</td>
              <td>{{ innerTableData.url }}</td>
            </tr>
          </tbody>
        </nz-table>
      </tr>
    </ng-template>
  </tbody>
</nz-table>